{
  "plugins": [
    "@prettier/plugin-php",
    "@trivago/prettier-plugin-sort-imports",
    "@shufo/prettier-plugin-blade"
  ],
  "tabWidth": 2,
  "trailingComma": "es5",
  "overrides": [
    {
      "files": "*.php",
      "options": {
        "tabWidth": 4,
        "singleQuote": true
      }
    },
    {
      "files": ["*.blade.php"],
      "options": {
        "parser": "blade",
        "tabWidth": 2,
        "wrapAttributes": "force-expand-multiline",
        "sortHtmlAttributes": "code-guide"
      }
    }
  ],
  "importOrder": [
    "^node:(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^@olmokit/utils(.*)$",
    "^@olmokit/cli(.*)$",
    "^@olmokit/cli-utils(.*)$",
    "^@olmokit/dom(.*)$",
    "^@olmokit/browser(.*)$",
    "^@olmokit/core(.*)$",
    "^@olmokit/components(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true
}
