$Glide__arrow-spacer-x: 0 !default;
$Glide__arrow-thickness: 0.4 !default;
$Glide__arrow-size: 16px !default;
$Glide__arrow-icon-size: $Glide__arrow-size !default;
$Glide__arrow-color: #222 !default;
$Glide__arrow-color-hover: $Glide__arrow-color !default;
$Glide__arrow-bg: transparent !default;
$Glide__arrow-bg-hover: $Glide__arrow-bg !default;
$Glide__bullet-spacer-y: 0 !default;
$Glide__bullet-spacer-x: 0 !default;
$Glide__bullet-size: 10px !default;
$Glide__bullet-clickable-width: 32px !default;
$Glide__bullet-clickable-height: 48px !default;
$Glide__bullet-bg: #222 !default;
$Glide__bullet-bg--hover: true !default;
$Glide__bullet-bg--active: $Glide__bullet-bg !default;
$Glide__bullet-border: false !default;
$Glide__bullet-border-width: 1px !default;
$Glide__bullet-border-color: $Glide__bullet-bg !default;
$Glide__bullet-border-color--hover: $Glide__bullet-bg--hover !default;
$Glide__bullet-border-color--active: $Glide__bullet-bg--active !default;
$Glide__fade-transition-time: 1250 !default;
$Glide-opacity: 0.75 !default;
$Glide-opacity--hover: 1 !default;
$Glide-opacity--active: 1 !default;
$Glide-opacity--disabled: 0.25 !default;
