$HS__flyout-max-height: 500px !default;
$HS__flyout-bg: #fff !default;
$HS__flyout-uncollapsed-bg: $HS__flyout-bg !default;
$HS__flyout-min-width: 200px !default;
$HS__flyout-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2) !default;
$HS__link-padding-y: math.div($Header__navLink-padding-x, 1.5) !default;
$HS__link-padding-x: $Header__navLink-padding-x !default;
$HS__link-bg: transparent !default;
$HS__link-bg--hover: darken($HS__flyout-bg, 5%) !default;
$HS__link-color: inherit !default;
$HS__link-color--hover: inherit !default;
$HS__link-uncollapsed-bg: $HS__link-bg !default;
$HS__link-uncollapsed-bg--hover: $HS__link-bg--hover !default;
$HS__link-uncollapsed-color: $HS__link-color !default;
$HS__link-uncollapsed-color--hover: $HS__link-color--hover !default;
