$Buttons-padding-y: 0.5em !default;
$Buttons-padding-x: 2em !default;
$Buttons-font-family: $Typography-font-sans !default;
$Buttons-font-weight: 400 !default;
$Buttons-font-size: inherit !default;
$Buttons-text-transform: none !default;
$Buttons-border-thickness: 1px !default;
$Buttons-border-color: transparent !default;
$Buttons-border-radius: 0 !default;
