$Range__progress-bg: Color(black) !default;
$Range__track-height: 8px !default;
$Range__track-bg: #eee !default;
$Range__tip-position: bottom !default;
$Range__tip-arrow: 0px !default;
$Range__tip-offset: 5px !default;
$Range__tip-radius: 4px !default;
$Range__tip-padding-y: 0 !default;
$Range__tip-padding-x: 10px !default;
$Range__tip-font-size: 12px !default;
$Range__tip-font-weight: inherit !default;
$Range__tip-color: #999 !default;
$Range__tip-bg: transparent !default;
$Range__handle-bg: Color(white) !default;
$Range__handle-border-radius: 5px !default;
$Range__handle-border-color: #ccc !default;
$Range__handle-border: 1px !default;
$Range__handle-width: 24px !default;
$Range__handle-height: 18px !default;
$Range__buffer-bg: rgba(0, 0, 0, 0.2) !default;
